<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div fxLayout="row">
    <div fxFlex="100%" class="center">
      <div class="mat-elevation-z4 p-24">

        <h2>Subir archivo para comparar:</h2>
        <input id="fileToUpload" type="file" style="display:none;" name="image" #fileInput (change)="fileChangeEvent($event)">
        <button mat-raised-button type="button" color="primary" (click)="fileInput.click()">Image</button>

        <button class="btn-right" mat-raised-button type="button" color="accent" (click)="onTapCompare()" [disabled]="!isEnable">Comparar</button>
        <mat-progress-bar class="mt-24" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
        <div class="message" *ngIf="message">{{message}}</div>
        <div></div>
        <div class="wraper mt-24" >
          <img id="preview" src="" alt="" [class.small]="isResult" style="max-width:200px;max-height:200px;">
        </div>
        <h2>Resultado:</h2> 
          <div class='row'>
            <button class='mat-raised-button mat-accent btn-danger' (click) = "reset()" *ngIf='result.length >0 '> Reset </button>
          </div>
          <div class="cards" [sortablejs]="result" [sortablejsOptions] = "sortOption">

          <!-- CARD 1 -->
          <div class="card" *ngFor="let item of result ;let index = index" [ngClass]= " {
            'dragabble': canSort
          }">
            <!-- PREVIEW -->
            <div class="card-preview">

              <div class="fuse-card p-2">
                <span>              {{index}}</span>
                <button class='btn-right mat-raised-button mat-accent btn-remove' (click) = "removeFromResult(item)"> X </button>
                <img src="{{item.url}}">
                <div class="p-6">
                  <!-- <div class="h1">Score {{item.score}}</div> -->
                  <div class="h1">Socio: {{item.id}}</div>
                  <div class='row tag_container'>
                      <span *ngFor='let tag of item.tags.slice(0,3)' class='ui-chips-token-label ui-state-highlight tag'>{{tag}} </span>
                      <span *ngIf='item.tags.length >3'>...</span>
                      <button class='btn-right mat-raised-button mat-accent btn-danger btn-tag'  (click)="showDialogTags(item)">T</button>
                  </div>
                </div>
              </div>

            </div>
            <!-- / PREVIEW -->
          </div>
          <!-- / card -->
        </div>
        <!-- / cards -->

      </div>
    </div>
  </div>

  <p-dialog  header="Edit Tag" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" appendTo="body" >
    <mat-progress-bar class="mt-24" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <p-chips [(ngModel)]="masksTag" ></p-chips>
    <p-footer>
      <button type="button" pButton (click)="saveTag()" label="Save"></button>
      <button type="button" pButton (click)="display=false" label="Close"></button>
    </p-footer>
</p-dialog>
</div>
